{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}
<div class="container py-5">
  <div style="border-radius: 3%; border: 3px solid #FFED90;" class="mx-auto col-md-6 col-10 bg-white p-5">
    <div class="text-center">
      <h1 style="color: #FFED90;" class="mb-3">누런 풍선</h1>
      <p>무거운 여행을 시작해 보세요 :) </p>
    </div>
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="d-grid gap-2">
              <button style="background-color: #FFED90;" type="submit" class="m-3 btn btn-lg">✈ 바로 시작 ✈</button>
            </div>
        </form>
    </div> 
  </div>
</div>

{% comment %} <div class="py-5 text-center">
    <div class="py-5 container">
      <div class="row">
        <div style="border-radius: 3%; border: 3px solid #FFED90;" class="mx-auto col-md-6 col-10 bg-white p-5">
          <h2 style="color: #FFED90;" class="mb-3">누런 풍선</h2>
          <p>무거운 여행을 시작해 보세요 :) </p>
          <form action="" method="POST">
            {% csrf_token %}
            
            {% for i in form %}
            <div class="form-group mb-3" style="border-radius: 3%; border: 3px solid #FFED90;"> 
              {{ i }}
            </div>
            {% endfor %}
            </div>
            {% comment %} <div class="form-group mb-3"> 
                <label for="form9"></label>
                <input name="email" style="border-radius: 3%; border: 3px solid #FFED90;" type="email" class="form-control" placeholder="이메일을 입력해주세요." id="form9"> </div>
            <div class="form-group mb-3"> 
                <label for="form10"></label>
                <input name="password" style="border-radius: 3%; border: 3px solid #FFED90;" type="password" class="form-control" placeholder="비밀번호를 입력해주세요." id="form10">
              <br>
              <small>
                <span>혹시 회원이 아니신가요? <a style="text-decoration: none;" href="{% url "accounts:signup" %}">회원 가입</a>하기</span>
              </small>
            </div> 
            <button style="background-color: #FFED90;" type="submit" class="m-2 btn btn-lg">✈ 바로 시작 ✈</button>
          </form> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
{% endblock body %}