{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %} 

<h1>3. 글 상세페이지</h1><hr>

<!-- 글 제목, 내용, 이미지-->
<p class='text-end'>{{ article.created_at }}</p>
<h1>{{ article.title }}</h1>
<p>{{ article.content }}</p>

{% if request.user == review.user %}
<a href="{% url 'articles:update' article.pk %}">수정</a>
<a href="{% url 'articles:delete' article.pk %}">삭제</a>
{% endif %}
<a href="{% url 'articles:index' %}">홈으로</a>
<div class='container text-center mt-5 mb-5'>
  {% if article.image %}
  <img src="{{ article.image.url }}" alt="{{ article.image }}" width="400" height="300"> {% endif %}
</div>
<hr>

<!-- 댓글 작성 -->
<form action="{% url 'articles:c_create' article.pk %}" method="POST">
  {% csrf_token %}
  {% bootstrap_form comment_form layout="inline" %}
  {% bootstrap_button button_type="submit" content="댓글작성" %}
</form>

<!-- 댓글 목록 -->
<h3 class='text-center'>댓글 목록</h3>
<hr>
{% for comment in comments %}
  <p>{{ comment.user }}  |  {{ comment.created_at }}  |  {{ comment.content }}  |  
    {% if request.user.is_authenticated %}
      {% if request.user == comment.user%}
        <a href="{% url 'articles:c_delete' article.pk comment.pk %}">삭제</a>
      {% endif %}
    {% endif %}
  </p>
{% empty %}
  <p>댓글이 없습니다 ㅠㅠ</p>
{% endfor %}

{% endblock %}