{% extends 'base2.html' %}
{% load django_bootstrap5 %}

{% block body %}

  <!-- 공지 사항 -->
  <section style="padding: 60px 20px 20px 280px">
    <!-- 제목 -->
    <div>
      <h2 class="ms-3 fw-bold">공지사항</h2>
      <hr class="my-3" style="width: 9rem; color: black"/>
      <p class="fw-semibold">홈페이지 공지사항입니다.</p>
    </div>


    <div class="mt-4" style="width: 93%; min-height:20rem;">
      {% if request.user.is_staff %}
          <!-- 글쓰기 버튼 -->
          <a href="{% url 'articles:n_create' %}" class="btn fw-semibold float-end mb-3 px-3" style="background-color: #ffed90; text-color: black;">
            글쓰기
          </a>
      {% else %}
        <br><br>
      {% endif %}

    <!-- 테이블 -->
    <table class="table table-hover" style="white-space:nowrap;">
      <thead class="table-group-divider">
        <tr style="font-size: 1.17rem">
          <th style="padding: 0.7rem 0 0.7rem 2rem; width: 5rem" scope="col">
            번호
          </th>
          <th style="padding: 0.7rem 0 0.7rem 8rem; width: 7rem" scope="col">작성시간</th>
          <th style="padding: 0.7rem 0 0.7rem 9rem" scope="col">제목</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for notice in paginated_notices %}
          <tr onclick="location.href=' {% url 'articles:n_detail' notice.pk %} '" style="cursor: pointer;">
            <td style="padding: 0.7rem 0 0.7rem 2.7rem; width: 5rem">{{ notice.pk }}</td>
            <td style="padding: 0.7rem 0 0.7rem 5rem; width: 7rem">{{ notice.created_at }}</td>
            <td style="padding: 0.7rem 0 0.7rem 7rem;">
              <p style="width: 45rem; white-space: nowrap; overflow: hidden; text-overflow:ellipsis; margin-bottom:0;">{{ notice.title }}</p>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- 페이지네이션 -->
  <ul class="pagination justify-content-center">
    <!-- 첫 페이지 -->
    {% if paginated_notices.has_previous %}
      <!-- 이전페이지가 있으면 연결(첫 페이지가 아니면) -->
      <li class="page-item">
        <a class="page-link mx-2 text-black rounded" style="border: none; padding: 0.5rem 1.05rem;" tabindex="-1" href="?page=1">&#60;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link mx-2 text-black rounded" style="border: none; padding: 0.5rem 1.05rem;" href="#">&#60;</a>
      </li>
    {% endif %}

    <!-- 페이지리스트 -->
    <!-- //페이지 범위를 하나씩 리턴 -->
    {% for page_number in paginated_notices.paginator.page_range %}
     {% if page_number >= paginated_notices.number|add:-2 and page_number <= paginated_notices.number|add:2 %}
        <!-- // 현재 페이지일 때는 active -->
        {% if page_number == paginated_notices.number %}
          <li class="page-item" aria-current="page">
            <a class="page-link mx-2 text-black rounded" style="border: none; background-color:#ffed90 !important;  padding: 0.5rem 1.05rem;" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
        {% else %}
          <li class="page-item text-color-warning">
            <a class="page-link mx-2 text-black rounded" style="border: none; padding: 0.5rem 1.05rem;" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}

    <!-- 다음페이지 -->
    {% if paginated_notices.has_next %}
      <li class="page-item">
        <a class="page-link mx-2 text-black rounded" style="border: none; padding: 0.5rem 1.05rem;" href="?page={{ max_index }}">&#62;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link mx-2 text-black rounded" style="border: none; padding: 0.5rem 1.05rem;" tabindex="-1" href="#">&#62;</a>
      </li>
    {% endif %}
  </ul>
</div>
</section>

{% endblock %}