{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
  <!-- CSS only -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js" integrity="sha512-VEBjfxWUOyzl0bAwh4gdLEaQyDYPvLrZql3pw1ifgb6fhEvZl9iDDehwHZ+dsMzA0Jfww8Xt7COSZuJ/slxc4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link rel="stylesheet" href="/STATIC/CSS/style.css">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script> -->
{% endblock css %}


{% block body %}
<!-- main banner -->
<div class="py-5" >
  <div class="container">
    <div class="row">
      <div class="col-md-3" ><img class="rounded img-fluid d-block" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/05d314131429353.6194e91ad6c89.png"></div>
      <div class="col-md-3" ><img class="rounded img-fluid d-block" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/8cec59131429353.6194e91ad716b.jpeg"></div>
      <div class="col-md-3" ><img class="rounded img-fluid d-block" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/9e9742131429353.6194e91ad630f.jpeg"></div>
      <div class="col-md-3" ><img class="rounded img-fluid d-block" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/35aaa4131429353.6194e91ad5979.jpeg"></div>
    </div>
  </div>
</div>



  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar m-2 bg-white">
            <div class="container-fluid">
              <span style="color: #000;" class="fs-3 fw-bolder navbar-text"> ✈ BEST TRIP </span>
            </div>
          </nav>
         
          <div class="row p-3">
            {% for product in products %}
            <div class="col-md-3">
              <div style=" border-color: #FFED90;" class="card">
                {% comment %} {% for i in "x"|rjust:"64" %}
                    {{ forloop.counter }} {% endcomment %}
                    <img src="" class="card-img-top" alt="...">
                  {% comment %} {% endfor %}             {% endcomment %}
              <div class="card-body">
                  <h4 class="card-title">{{ product.title }}</h4>
                  <p class="card-text">⭐⭐⭐⭐⭐</p>
                  <a style="background-color: #FFED90;" href="{% url 'articles:product_detail' product.pk %}" class="btn">50,000</a>
                </div>
              </div>
            </div> 
            {% endfor %}

            </div>
        </div>
      </div>
    </div>
  </div>
     <!-- best 여행을 떠나보세요 -->
     <div class="py-5">
      <div class="container">
        <div style="background-color: #FFED90;" class="row">
          <div class="col-lg-8 p-md-5 p-3 d-flex flex-column justify-content-center">
            <h3><span><img style="width: 50px;" src="https://cdn-icons-png.flaticon.com/512/5086/5086935.png" alt=""></span>&nbsp Preview your flight tickets.</h3>
            <p class="mb-0">We are creating a service that helps you review and review and travel meticulously without making a mistake in booking a flight ticket.
              Golden Balloons are provided to those who are serious about travel more than anyone else.
            </p><pre></pre> <button type="button" class="btn btn-outline-warning">View more</button> <pre></pre>
            <h3><span><img style="width: 50px;" src="https://cdn-icons-png.flaticon.com/512/1841/1841602.png" alt=""></span>&nbsp You can also quickly book train tickets.</h3>
            <p class="mb-0">You can find not only plane tickets, but also train and bus tickets. It's not just about traveling by plane. We help you travel safely as you travel.</p>
            <pre></pre> <button type="button" class="btn btn-outline-warning">View more</button> <pre></pre>
          </div>
          <div class="col-lg-4 p-3">
            <div id="carousel2" class="carousel slide" data-ride="carousel" data-interval="5000">
              <div class="carousel-inner">
                <div class="carousel-item">
                  <img class="d-block w-100 rounded" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/2572f742683527.57d3b4514b185.gif"> </div>
                <div class="carousel-item active"> 
                  <img class="d-block w-100 rounded" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/173caf129324315.61685cc397c76.gif"> </div>
              </div>
              <a class="carousel-control-prev" href="#carousel2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span></a>
              <a class="carousel-control-next" href="#carousel2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 추천 여행과 지도 -->
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div style=" border-color: #FFED90;" class="card">
              <div class="card-body">
                <h5 class="card-title"><span><img style="width: 30px;" src="https://cdn-icons-png.flaticon.com/512/3038/3038019.png" alt=""></span>주변 위치 추천 여행지</h5>
                <h5>반드시 봐야할 명작</h5>
                <p class="card-text">New York에서의 예술과 함께하는 여행</p>
              </div>
              <img style="width: 100%; height:100%" class="card-img-bottom" src="https://dry7pvlp22cox.cloudfront.net/mrt-images-prod/2022/06/22/QbFd/OS6sBjxWcK.png?width=760&height=760&operation=crop" alt="Card image cap">
            </div>
          </div>
          <div class="col-md-6" >
            <iframe width="100%" height="765" src="https://maps.google.com/maps?q=New%20York&amp;z=14&amp;output=embed" scrolling="no" frameborder="0">
            </iframe></div>
        </div>
      </div>
    </div>
    <div class="py-5" style="background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/cd1030127767663.6148d3a8347b9.jpg)">
      <div class="container">
        <div class="row">
          <div class="text-center mx-auto col-md-12">
            <h1 class="text-white mb-5"><span><img style="width: 70px;" src="https://cdn-icons-png.flaticon.com/512/3284/3284626.png" alt=""></span> Check before you travel</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 p-3">
            <div class="card">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col-md-4 col-3">
                    <img class="img-fluid d-block rounded-circle" src="https://cdn-icons-png.flaticon.com/512/2200/2200326.png"> </div>
                  <div class="d-flex  col-md-8 flex-column justify-content-center align-items-start col-9">
                    <p class="mb-0 lead"> <b>Fast Flight</b> </p>
                    <p class="mb-0 text-c">Fast and convenient travel service</p>
                  </div>
                </div>
                <div class="d-flex justify-content-center pr-3">
                  <p class="mt-3 mb-0"><button style="background-color: #FFED90;" type="button" class="p-4 btn btn-lg">Go into service</button></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 p-3">
            <div class="card">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col-md-4 col-3">
                    <img class="img-fluid d-block rounded-circle" src="https://cdn-icons-png.flaticon.com/128/2200/2200309.png"> </div>
                  <div class="d-flex  col-md-8 flex-column justify-content-center align-items-start col-9">
                    <p class="mb-0 lead"> <b>Safe Travel</b> </p>
                    <p class="mb-0">We can help you get to your destination.</p>
                  </div>
                </div>
                <div class="d-flex justify-content-center pr-3">
                  <p class="mt-3 mb-0"><button style="background-color: #FFED90;" type="button" class="p-4 btn btn-lg">Go into service</button></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 p-3">
            <div class="card">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col-md-4 col-3"> 
                    <img class="img-fluid d-block rounded-circle" src="https://cdn-icons-png.flaticon.com/128/2200/2200305.png"> </div>
                  <div class="d-flex  col-md-8 flex-column justify-content-center align-items-start col-9">
                    <p class="mb-0 lead"> <b>Variety of options</b> </p>
                    <p class="mb-0">We will help you create various memories.</p>
                  </div>
                </div>
                <div class="d-flex justify-content-center pr-3">
                  <p class="mt-3 mb-0"><button style="background-color: #FFED90;" type="button" class="p-4 btn btn-lg">Go into service</button></p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!--여행 카드 title -->
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar m-2 bg-white">
            <div class="container-fluid">
              <span style="color: #000;" class="fs-3 fw-bolder navbar-text">
                ✈ BEST TRIP
              </span>
            </div>
          </nav>

          <!-- 여행 카드 첫째줄 -->
          <div class="row p-3">
            {% for product in products %}
              <div class="col-md-3">
                <div style=" border-color: #FFED90;" class="card">
                  <img src="{{ product.image}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <div class="card-body">
                      <h4 class="card-title">{{ product.title }}</h4>
                      <p>Opportunity to keep a memorable Saipan trip</p>
                      <p class="card-text">⭐⭐⭐⭐⭐</p>
                      <a style="background-color: #FFED90;" href="#" class="btn">50,000</a>
                    </div>
                  </div>
                </div>
              {% endfor %}

              <!-- best 여행을 떠나보세요 -->
              <div class="py-5">
                <div class="container">
                  <div style="background-color: #FFED90;" class="row">
                    <div class="col-lg-8 p-md-5 p-3 d-flex flex-column justify-content-center">
                      <h3>
                        <span><img style="width: 50px;" src="https://cdn-icons-png.flaticon.com/512/5086/5086935.png" alt=""></span>&nbsp Preview your flight tickets.</h3>
                      <p class="mb-0">We are creating a service that helps you review and review and travel meticulously without making a mistake in booking a flight ticket. Golden Balloons are provided to those who are serious about travel more than anyone else.
                      </p>
                      <pre></pre>
                      <button type="button" class="btn btn-outline-warning">View more</button>
                      <pre></pre>
                      <h3>
                        <span><img style="width: 50px;" src="https://cdn-icons-png.flaticon.com/512/1841/1841602.png" alt=""></span>&nbsp You can also quickly book train tickets.</h3>
                      <p class="mb-0">You can find not only plane tickets, but also train and bus tickets. It's not just about traveling by plane. We help you travel safely as you travel.</p>
                      <pre></pre>
                      <button type="button" class="btn btn-outline-warning">View more</button>
                      <pre></pre>
                    </div>
                    <div class="col-lg-4 p-3">
                      <div id="carousel2" class="carousel slide" data-ride="carousel" data-interval="5000">
                        <div class="carousel-inner">
                          <div class="carousel-item">
                            <img class="d-block w-100 rounded" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/2572f742683527.57d3b4514b185.gif">
                          </div>
                          <div class="carousel-item active">
                            <img class="d-block w-100 rounded" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/173caf129324315.61685cc397c76.gif">
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carousel2" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span></a>
                        <a class="carousel-control-next" href="#carousel2" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 추천 여행과 지도 -->
              <div class="py-5">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6">
                      <div style=" border-color: #FFED90;" class="card">
                        <div class="card-body">
                          <h5 class="card-title">
                            <span><img style="width: 30px;" src="https://cdn-icons-png.flaticon.com/512/3038/3038019.png" alt=""></span>주변 위치 추천 여행지</h5>
                          <h5>반드시 봐야할 명작</h5>
                          <p class="card-text">New York에서의 예술과 함께하는 여행</p>
                        </div>
                        <img style="width: 100%; height:100%" class="card-img-bottom" src="https://dry7pvlp22cox.cloudfront.net/mrt-images-prod/2022/06/22/QbFd/OS6sBjxWcK.png?width=760&height=760&operation=crop" alt="Card image cap">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <iframe width="100%" height="765" src="https://maps.google.com/maps?q=New%20York&amp;z=14&amp;output=embed" scrolling="no" frameborder="0"></iframe>
                    </div>
                  </div>
                </div>
              </div>
              <div class="py-5" style="background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/cd1030127767663.6148d3a8347b9.jpg)">
                <div class="container">
                  <div class="row">
                    <div class="text-center mx-auto col-md-12">
                      <h1 class="text-white mb-5">
                        <span><img style="width: 70px;" src="https://cdn-icons-png.flaticon.com/512/3284/3284626.png" alt=""></span>
                        Check before you travel</h1>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-md-6 p-3">
                      <div class="card">
                        <div class="card-body p-4">
                          <div class="row">
                            <div class="col-md-4 col-3">
                              <img class="img-fluid d-block rounded-circle" src="https://cdn-icons-png.flaticon.com/512/2200/2200326.png">
                            </div>
                            <div class="d-flex  col-md-8 flex-column justify-content-center align-items-start col-9">
                              <p class="mb-0 lead">
                                <b>Fast Flight</b>
                              </p>
                              <p class="mb-0 text-c">Fast and convenient travel service</p>
                            </div>
                          </div>
                          <div class="d-flex justify-content-center pr-3">
                            <p class="mt-3 mb-0">
                              <button style="background-color: #FFED90;" type="button" class="p-4 btn btn-lg">Go into service</button>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 p-3">
                      <div class="card">
                        <div class="card-body p-4">
                          <div class="row">
                            <div class="col-md-4 col-3">
                              <img class="img-fluid d-block rounded-circle" src="https://cdn-icons-png.flaticon.com/128/2200/2200309.png">
                            </div>
                            <div class="d-flex  col-md-8 flex-column justify-content-center align-items-start col-9">
                              <p class="mb-0 lead">
                                <b>Safe Travel</b>
                              </p>
                              <p class="mb-0">We can help you get to your destination.</p>
                            </div>
                          </div>
                          <div class="d-flex justify-content-center pr-3">
                            <p class="mt-3 mb-0">
                              <button style="background-color: #FFED90;" type="button" class="p-4 btn btn-lg">Go into service</button>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 p-3">
                      <div class="card">
                        <div class="card-body p-4">
                          <div class="row">
                            <div class="col-md-4 col-3">
                              <img class="img-fluid d-block rounded-circle" src="https://cdn-icons-png.flaticon.com/128/2200/2200305.png">
                            </div>
                            <div class="d-flex  col-md-8 flex-column justify-content-center align-items-start col-9">
                              <p class="mb-0 lead">
                                <b>Variety of options</b>
                              </p>
                              <p class="mb-0">We will help you create various memories.</p>
                            </div>
                          </div>
                          <div class="d-flex justify-content-center pr-3">
                            <p class="mt-3 mb-0">
                              <button style="background-color: #FFED90;" type="button" class="p-4 btn btn-lg">Go into service</button>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 맛집여행 카드 -->
              <div class="py-2">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12"></div>
                  </div>
                </div>
              </div>
              <div class="py-5">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-12">
                        <nav class="navbar">
                          <div class="container-fluid">
                            <span style="color: #000;" class="fs-3 fw-bolder navbar-text">
                              🍽 Travel With Food
                            </span>
                            <!-- <h3 style="color: #000;" class="navbar-text"> 🍽 Travel With Food</h3> -->
                          </div>
                        </nav>
                        <!-- 맛집여행 카드 첫째줄 -->
                        <div class="row">
                          <div class="col-md-3">
                            <div style=" border-color: #FFED90;" class="card">
                              <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/121775/683230_medium_1663733861.jpg?1663733861" alt="Card image cap">
                              <div class="card-body">
                                <h4 class="card-title">몽키트래블 괌</h4>
                                <p class="card-text">사이판 켄싱턴 오하스 애프터눈</p>
                                <p class="card-text">⭐⭐⭐⭐⭐</p>
                                <a style="background-color: #FFED90;" href="#" class="btn">Go somewhere</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div style=" border-color: #FFED90;" class="card">
                              <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/121834/683757_medium_1663817437.jpg?1663817437" alt="Card image cap">
                              <div class="card-body">
                                <h4 class="card-title">삿포로</h4>
                                <p class="card-text">스스키노 슌사이 와엔테</p>
                                <p class="card-text">⭐⭐⭐⭐⭐</p>
                                <a style="background-color: #FFED90;" href="#" class="btn">Go somewhere</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div style=" border-color: #FFED90;" class="card">
                              <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/122530/691952_medium_1665038911.jpg?1665038911" alt="Card image cap">
                              <div class="card-body">
                                <h4 class="card-title">방콕</h4>
                                <p class="card-text">카펠라 방콕 호텔 티 라운지</p>
                                <p class="card-text">⭐⭐⭐⭐⭐</p>
                                <a style="background-color: #FFED90;" href="#" class="btn">Go somewhere</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div style=" border-color: #FFED90;" class="card">
                              <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/64603/694995_medium_1665625851.jpg?1665625851" alt="Card image cap">
                              <div class="card-body">
                                <h4 class="card-title">타이베이</h4>
                                <p class="card-text">올 뷰티 커피 & 티 베이먼역</p>
                                <p class="card-text">⭐⭐⭐⭐⭐</p>
                                <a style="background-color: #FFED90;" href="#" class="btn">Go somewhere</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <pre></pre>
                        <!-- 맛집여행 카드 둘째줄 -->
                        <div class="row">
                          <div class="col-md-3">
                            <div style=" border-color: #FFED90;" class="card">
                              <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/37980/236467_medium_1530692256.jpg?1530692256" alt="Card image cap">
                              <div class="card-body">
                                <h4 class="card-title">홍콩</h4>
                                <p class="card-text">몽콕 희운 로스트 키친</p>
                                <p class="card-text">⭐⭐⭐⭐⭐</p>
                                <a style="background-color: #FFED90;" href="#" class="btn">Go somewhere</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div style=" border-color: #FFED90;" class="card">
                              <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/73460/451641_medium_1578554362.jpg?1578554362" alt="Card image cap">
                              <div class="card-body">
                                <h4 class="card-title">세비야</h4>
                                <p class="card-text">하드락 카페 식사권</p>
                                <p class="card-text">⭐⭐⭐⭐⭐</p>
                                <a style="background-color: #FFED90;" href="#" class="btn">Go somewhere</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div style=" border-color: #FFED90;" class="card">
                              <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/72675/446630_medium_1577381301.jpg?1577381301" alt="Card image cap">
                              <div class="card-body">
                                <h4 class="card-title">호이안</h4>
                                <p class="card-text">현지 특별 밀 세트 이용권</p>
                                <p class="card-text">⭐⭐⭐⭐⭐</p>
                                <a style="background-color: #FFED90;" href="#" class="btn">Go somewhere</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div style=" border-color: #FFED90;" class="card">
                              <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/71208/438220_medium_1575338008.jpg?1575338008" alt="Card image cap">
                              <div class="card-body">
                                <h4 class="card-title">타이베이</h4>
                                <p class="card-text">마이스토브 송장난징역</p>
                                <p class="card-text">⭐⭐⭐⭐⭐</p>
                                <a style="background-color: #FFED90;" href="#" class="btn">Go somewhere</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <pre></pre>
                        <!-- 맛집여행 카드 셋째줄 -->
                        <div class="row">
                          <div class="col-md-3">
                            <div style=" border-color: #FFED90;" class="card">
                              <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/120326/670864_medium_1661150798.jpg?1661150798" alt="Card image cap">
                              <div class="card-body">
                                <h4 class="card-title">파타야</h4>
                                <p class="card-text">파타야 인터컨티넨탈 리조트</p>
                                <p class="card-text">⭐⭐⭐⭐⭐</p>
                                <a style="background-color: #FFED90;" href="#" class="btn">Go somewhere</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div style=" border-color: #FFED90;" class="card">
                              <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/98171/701977_medium_1666694454.jpg?1666694454" alt="Card image cap">
                              <div class="card-body">
                                <h4 class="card-title">마닐라</h4>
                                <p class="card-text">마닐라 상싱한 해산물 씨푸드</p>
                                <p class="card-text">⭐⭐⭐⭐⭐</p>
                                <a style="background-color: #FFED90;" href="#" class="btn">Go somewhere</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div style=" border-color: #FFED90;" class="card">
                              <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/45597/280314_medium_1540463303.jpg?1540463303" alt="Card image cap">
                              <div class="card-body">
                                <h4 class="card-title">싱가포르</h4>
                                <p class="card-text">싱갚로 점보 식당</p>
                                <p class="card-text">⭐⭐⭐⭐⭐</p>
                                <a style="background-color: #FFED90;" href="#" class="btn">Go somewhere</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div style=" border-color: #FFED90;" class="card">
                              <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/113468/613184_medium_1647218895.jpg?1647218895" alt="Card image cap">
                              <div class="card-body">
                                <h4 class="card-title">방콕</h4>
                                <p class="card-text">째오쭐라 시암지점</p>
                                <p class="card-text">⭐⭐⭐⭐⭐</p>
                                <a style="background-color: #FFED90;" href="#" class="btn">Go somewhere</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endblock %}
