{% extends 'base2.html' %}
{% load django_bootstrap5 %}

{% block body %} 

<!-- Q&A -->
<section style="padding: 60px 20px 20px 280px">
  <!-- 제목 -->
  <div>
    <h2 class="ms-3 fw-bold">Q & A</h2>
    <hr class="my-3" style="width: 9rem; color: black" />
    <p class="fw-semibold">홈페이지 운영에 관해 궁금하신 것 물어보세요.</p>
  </div>

    <div class='container'>
      <div class="col-md-10 col-10 bg-white">
          <!-- 글쓰기 버튼 -->
        <div class="mt-4" style="width: 93%">
          <a href="{% url 'articles:qna_create' %}"
          class="btn fw-semibold float-end mb-3 px-3"
          style="background-color: #ffed90; text-color: black;"
          >
          글쓰기
          </a>
          <!-- 테이블 -->
          <table class="table table-hover text-center" style="white-space:nowrap;">
            <thead class="table-group-divider" >
              <tr style="font-size: 1.17rem">
                <th style="padding: 0.7rem 0 0.7rem 2rem; width: 13rem" scope="col">번호</th>
                <th style="padding: 0.7rem 0 0.7rem 2.3rem" scope="col">작성자</th>
                <th style="padding: 0.7rem 0 0.7rem 5rem" scope="col">제목</th>
                <th style="padding: 0.7rem 0 0.7rem 5rem" scope="col">답변여부</th>
                <th style="padding: 0.7rem 0 0.7rem 5rem" scope="col">작성시간</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              {% for qna in paginated_qnas %}
              <tr onclick='location.href="{% url 'articles:qna_detail' qna.pk %}"' style='cursor: pointer;'>
                <td style="padding: 0.7rem 0 0.7rem 3rem" scope="row">{{ qna.pk }}</td>
                <td style="padding: 0.7rem 0 0.7rem 4rem">{{ qna.user }}</td>
                <td style="padding: 0.7rem 0 0.7rem 4rem">{{ qna.title }}</td>
                <td style="padding: 0.7rem 0 0.7rem 4rem">
                  {% if qna.qnacomment_set.all %}
                    <span class="rounded fw-semibold" style="background-color: #fcbfbf; padding: 0.5rem 1rem">답변</span>
                  {% else %}
                    <span class="rounded fw-semibold" style="background-color: #C6C6C6; padding: 0.5rem 1rem">답변</span>
                  {% endif %}          
                </td>
                <td style="padding: 0.7rem 0 0.7rem 4rem">{{ qna.created_at }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- 페이지네이션 -->
        <ul class="pagination justify-content-center">
          <!-- 첫 페이지 -->
          {% if paginated_qnas.has_previous %}
            <!-- 이전페이지가 있으면 연결(첫 페이지가 아니면) -->
            <li class="page-item">
              <a class="page-link mx-2 text-black rounded" style="border: none; padding: 0.5rem 1.05rem;" tabindex="-1" href="?page=1">&#60;</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link mx-2 text-black rounded" style="border: none; padding: 0.5rem 1.05rem;" href="#">&#60;</a>
            </li>
          {% endif %}

          <!-- 페이지리스트 -->
          <!-- //페이지 범위를 하나씩 리턴 -->
          {% for page_number in paginated_qnas.paginator.page_range %}
          {% if page_number >= paginated_qnas.number|add:-2 and page_number <= paginated_qnas.number|add:2 %}
              <!-- // 현재 페이지일 때는 active -->
              {% if page_number == paginated_qnas.number %}
                <li class="page-item" aria-current="page">
                  <a class="page-link mx-2 text-black rounded" style="border: none; background-color:#ffed90 !important;  padding: 0.5rem 1.05rem;" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
              {% else %}
                <li class="page-item text-color-warning">
                  <a class="page-link mx-2 text-black rounded" style="border: none; padding: 0.5rem 1.05rem;" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
              {% endif %}
          {% endif %}
          {% endfor %}

          <!-- 다음페이지 -->
          {% if paginated_notices.has_next %}
            <li class="page-item">
              <a class="page-link mx-2 text-black rounded" style="border: none; padding: 0.5rem 1.05rem;" href="?page={{ max_index }}">&#62;</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link mx-2 text-black rounded" style="border: none; padding: 0.5rem 1.05rem;" tabindex="-1" href="#">&#62;</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
</section>

{% endblock %}