{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}">
    {% block css %}{% endblock css %}
    <link rel="stylesheet" type = "text/css" href="{% static '/css/style.css' %}">
    <title>Golden Balloon</title>
  </head>

  <body>
    <nav style="background-color: #FFED90; height:5.8rem" class="navbar navbar-expand-sm">
      <div class="container-fluid m-2 p-2">
        <div class="d-flex">
          <img style="width: 4rem; height:3rem;" src="{% static 'image/logo.png' %}" alt="">
          <a class="navbar-brand fw-bold fs-3" href="{% url 'articles:index' %}">누런 풍선</a>
        </div>
        <div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse m-2" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="white-space:nowrap;">
              <a class="nav-link active text-black mx-2 fs-5 fw-semibold" aria-current="page" href="{% url 'articles:reviews' %}">리뷰목록</a>
              <a class="nav-link text-black mx-5 fs-5 fw-semibold" href="{% url 'articles:notice' %}">공지사항</a>

              <form action="{% url 'articles:search' %}">
                <div class="py-1 rounded me-4" style="background-color:#F7F3FA; display: inline-block;">
                  <i class="bi bi-search ms-3"></i>
                  <input class="pe-5 py-2 rounded" style="border:none; background-color:#F7F3FA;  outline: none; white-space:nowrap;" type="search" name="search" aria-label="Search" placeholder="검색해보세요">
                </div>
              </form>

              {% if request.user.is_authenticated %}
                <a class="nav-link fs-6 mt-1" href="{% url 'accounts:mypage_1' request.user.pk %}">{{ request.user }}</a>
                <a class="nav-link fs-6 mt-1" href="{% url 'accounts:logout' %}">로그아웃</a>
              {% else %}
                <a class="nav-link fs-6 mt-1" href="{% url 'accounts:login' %}">로그인</a>
                <a class="nav-link fs-6 mt-1 mx-2" href="{% url 'accounts:signup' %}">회원가입</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>

    {% block body %}{% endblock body %}

    <!-- footer -->
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <img style="width: 50px;" src="https://cdn-icons-png.flaticon.com/512/7682/7682764.png" alt="">
            <p style="font-size: 15px;">Golden Balloon</p>
            <p>
              <a style="text-decoration: none;" href="tel:+246 - 542 550 5462">10 TEAM</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 d-flex align-items-center justify-content-center my-3">
            <a style="text-decoration: none;" href="#">
              <span><img style="width: 25px;" src="https://cdn-icons-png.flaticon.com/512/220/220585.png" alt=""></span>
            </a>&nbsp&nbsp
            <a style="text-decoration: none;" href="#">
              <span><img style="width: 25px;" src="https://cdn-icons-png.flaticon.com/512/220/220607.png" alt=""></span>
            </a>&nbsp&nbsp
            <a style="text-decoration: none;" href="#">
              <span><img style="width: 25px;" src="https://cdn-icons-png.flaticon.com/512/220/220618.png" alt=""></span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="mb-0">© 2022</p>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>