* {
  font-family: 'Jua', sans-serif !important;
}

a {
  text-decoration: none;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  z-index: 100;
}
/*HEADER*/
header {
  width: 100%;
  border-bottom: 3px solid #ffed90;
  padding-bottom: 20px;
  display: flex;
  top: 0;
}
header > .inner {
  height: 50px;
  margin-bottom: auto;
  text-align: center;
}

header .main-menu {
  justify-content: center;
  /* padding-bottom: 0px; */
  /* margin: 20px; */
  align-items: center;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
}
header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  text-align: center;
  font-size: 19px;
}
header .main-menu .item:hover .item__name {
  background-color: #ffed90;
  color: #669900;
  border-radius: 6px 6px 0 0;
}
header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}
header .main-menu .item:hover .item__contents {
  display: block;
}
header .main-menu .item .item__contents .contents__menu {
  background-color: #ffed90;
  /* position: fixed; */
  /* width: 1900px; */
}
header .main-menu .item .item__contents .contents__menu > ul {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li > h4 {
  padding: 3px 0 12px 0;
  font-size: 17px;
  font-weight: 400;
  color: #000;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #000;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: #669900;
}

header .main-menu .item .item__contents .contents__texture p {
  color: #669900;
  margin: 4px 0 14px;
}

/* 카드 */
.cont_photo {
  position: relative;
  width: 300px;
  height: 440px;
  overflow: hidden;
  background-color: #eee;
  border-radius: 5px;
  top: -20px;
  float: left;
  z-index: 2;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition: all 0.5s;
  box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.5);
}

.cont_img_back {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.cont_img_back > img {
  width: 100%;
  opacity: 0.7;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition: all 1s;
}

.cont_img_back:hover > img {
  transform: scale(1.5);
}

.cont_text_ingredients {
  position: absolute;
  width: 0px;
  top: 0px;
  left: 290px;
  margin-left: 10px;
  height: 400px;
  float: left;
  border-radius: 5px;
  z-index: 3;
  box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.2);
}

/* 가로로 할지 세로로 할지 */
.cont_mins {
  position: relative;
  float: left;
  width: 100%;
}

.sub_mins {
  position: relative;
  float: left;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 253, 112, 0.8);
  border-radius: 50%;
  margin: 16px;
  margin-bottom: 0px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition: all 0.5s;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

.sub_mins > h3 {
  font-size: 19px;
  margin-top: 7px;
  margin-bottom: -5px;
}

.sub_mins > span {
  font-size: 15px;
  font-weight: 700;
}

.cont_servings {
  position: relative;
  float: left;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 253, 112, 0.8);
  border-radius: 50%;
  margin: 16px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.cont_servings > h3 {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: -3px;
}

.cont_servings > span {
  font-size: 15px;
  font-weight: 700;
}
.cont_mins {
  position: relative;
  float: left;
  width: 100%;
}

.sub_mins {
  position: relative;
  float: left;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 253, 112, 0.8);
  border-radius: 50%;
  margin: 16px;
  margin-bottom: 0px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition: all 0.5s;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

.sub_mins > h3 {
  font-size: 24px;
  margin-top: 7px;
  margin-bottom: -15px;
}

.sub_mins > span {
  font-size: 9px;
  font-weight: 700;
}

.cont_servings {
  position: relative;
  float: left;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 253, 112, 0.8);
  border-radius: 50%;
  margin: 16px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.cont_servings > h3 {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: -15px;
}

.cont_servings > span {
  font-size: 9px;
  font-weight: 700;
}

.cont_icon_right {
  position: relative;
  float: right;
  margin-top: 16px;
}
.cont_icon_right > a {
  margin: 16px;
  margin-top: 16px;
  color: #fff;
}

.cont_detalles {
  position: absolute;
  bottom: -185px;
  height: 200px;
  border-radius: 5px;

  /* 모든 사진과 어울리는 색감으로 할지 아니면 그대로 갈지 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+100,000000+101&0+0,0.65+68 */
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 68%,
    rgba(0, 0, 0, 0.65) 100%,
    rgba(0, 0, 0, 0.65) 101%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 68%,
    rgba(0, 0, 0, 0.65) 100%,
    rgba(0, 0, 0, 0.65) 101%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 68%,
    rgba(0, 0, 0, 0.65) 100%,
    rgba(0, 0, 0, 0.65) 101%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  width: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition-delay: 1.2s;
  -webkit-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.cont_detalles > h3 {
  margin-top: 50px;
  color: #fff;
  font-size: 24px;
}

.cont_detalles > p {
  color: #fff;
  width: 80%;
  text-align: left;
  font-size: 14px;
}

/* 첫번째 숫자*/
.cont_modal_active > .cont_photo > .cont_mins > .sub_mins {
  opacity: 1;
}
/* 두번째 숫자*/
.cont_modal_active > .cont_photo > .cont_servings {
  opacity: 1;
}
/* 꽉채운 이미지를 위한 */
.cont_modal_active > .cont_photo > .cont_detalles {
  bottom: 0px;
}

.header {
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 50px;
}

.title {
  /* font-family: 'Roboto', sans-serif; */
  padding: 25px 25px 0px;
  font-size: 20px;
  font-weight: 100;
  color: #000;
}

/* 카드 4가지 내용 */
.carousel {
  width: 90%;
  margin: 0px auto;
}
.slick-slide {
  margin: 10px;
}
.card {
  border: 2px solid #fff;
}
.card-body {
  background: #fff;
  width: 100%;
  vertical-align: top;
}
.card-content {
  text-align: left;
  color: #333;
  padding: 15px;
}
.card-text {
  font-size: 14px;
  font-weight: 300;
}

/* 실시간 리뷰 카드 hover
/* card-img-top1 */
/* .card-img-top1:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #cccccc; 
background-color: white;
}
.card-img-top1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}
.card:hover:before {
  transform: scale(2.15);
}  */

/* 가운데 4개 */
