<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>여행상품</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
    <link rel="stylesheet" href="/CSS/여행상품.CSS">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">


</head>
<body>
    <!-- nav -->
    <nav style="background-color: #FFED90;" class="navbar navbar-expand-lg">
      <div class="container-fluid m-2 p-2">
          <div style="float:le;">
              <img style="width: 50px;" src="/image/로고고-removebg-preview.png" alt="">
              <a class="navbar-brand" href="#">누런 풍선</a>
              <input class="pe-5 " type="text" placeholder="검색해보세요.">
          </div>
          <div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse m-2" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">리뷰목록</a>
                    <a class="nav-link" href="#">공지사항 / FQA</a>
                    <a class="nav-link" href="#">로그인</a>
                    <a class="nav-link disabled">회원가입/마이페이지</a>
                  </div>
                </div>
          </div>
      </div>
    </nav>

    <!-- Carousel -->
    <div style="margin: 50px;">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class=" carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
        </div>
        <div class="carousel-inner">
          <div style="width: 1400px; height: 300px;" class="carousel-item">
            <img class="bd-placeholder-img bd-placeholder-img-lg d-block rounded" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/92dd58152331457.631c0f7ee16a6.jpg" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false" alt="">
          </div>
          <div style="width: 1400px; height: 300px;" class="carousel-item">
            <img class="bd-placeholder-img bd-placeholder-img-lg d-block rounded" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/531bcf150985339.63043c984c108.jpg" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false" alt="">
      
          </div>
          <div style="width: 1400px; height: 300px;" class="carousel-item active">
            <img class="bd-placeholder-img bd-placeholder-img-lg d-block rounded" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/0c2d4a150985339.63043c9843234.jpg" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false" alt="">
      
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>


  
    <div class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav class="navbar m-2 bg-white">
              <div class="container-fluid">
                <span style="color: #000;" class="fs-3 fw-bolder navbar-text"> ✈ BEST TRIP </span>
              </div>
            </nav>
            <div class="row p-3">
              <div class="col-md-3">
                <div style=" border-color: #FFED90;" class="card">
                  <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/43462/499672_medium_1585303053.jpg?1585303053" alt="Card image cap" style="">
                  <div class="card-body">
                    <h4 class="card-title">파리</h4>
                    <p>Opportunity to keep a memorable Saipan trip</p>
                    <p class="card-text">⭐⭐⭐⭐⭐</p>
                    <a style="background-color: #FFED90;" href="#" class="btn">50,000</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div style=" border-color: #FFED90;" class="card"> <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/8176/423196_medium_1572312390.jpg?1572312390" alt="Card image cap" style="">
                  <div class="card-body">
                    <h4 class="card-title">마드리드</h4>
                    <p>Opportunity to keep a memorable Saipan trip</p>
                    <p class="card-text">⭐⭐⭐⭐⭐</p>
                    <a style="background-color: #FFED90;" href="#" class="btn">50,000</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div style=" border-color: #FFED90;" class="card"> <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/115333/627676_medium_1652663647.jpg?1652663647" alt="Card image cap" style="">
                  <div class="card-body">
                    <h4 class="card-title">로마</h4>
                    <p>Opportunity to keep a memorable Saipan trip</p>
                    <p class="card-text">⭐⭐⭐⭐⭐</p>
                    <a style="background-color: #FFED90;" href="#" class="btn">50,000</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div style=" border-color: #FFED90;" class="card"> <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/14996/91574_medium_1525745934.jpg?1525745934" alt="Card image cap" style="">
                  <div class="card-body">
                    <h4 class="card-title">시드니</h4>
                    <p>Opportunity to keep a memorable Saipan trip</p>
                    <p class="card-text">⭐⭐⭐⭐⭐</p>
                    <a style="background-color: #FFED90;" href="#" class="btn">50,000</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row p-3">
                <div class="col-md-3">
                  <div style=" border-color: #FFED90;" class="card"> <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/50809/644566_medium_1656703121.jpg?1656703121" alt="Card image cap" style="">
                    <div class="card-body">
                      <h4 class="card-title">호치민</h4>
                      <p>Opportunity to keep a memorable Saipan trip</p>
                      <p class="card-text">⭐⭐⭐⭐⭐</p>
                      <a style="background-color: #FFED90;" href="#" class="btn">50,000</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div style=" border-color: #FFED90;" class="card"> <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/41573/289865_medium_1542748414.jpg?1542748414" alt="Card image cap" style="">
                    <div class="card-body">
                      <h4 class="card-title">후쿠오카</h4>
                      <p>Opportunity to keep a memorable Saipan trip</p>
                      <p class="card-text">⭐⭐⭐⭐⭐</p>
                      <a style="background-color: #FFED90;" href="#" class="btn">50,000</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div style=" border-color: #FFED90;" class="card"> <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/114749/620489_medium_1650360325.jpg?1650360325" alt="Card image cap" style="">
                    <div class="card-body">
                      <h4 class="card-title">프라하</h4>
                      <p>Opportunity to keep a memorable Saipan trip</p>
                      <p class="card-text">⭐⭐⭐⭐⭐</p>
                      <a style="background-color: #FFED90;" href="#" class="btn">50,000</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div style=" border-color: #FFED90;" class="card"> <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/110164/590825_medium_1635348060.jpg?1635348060" alt="Card image cap" style="">
                    <div class="card-body">
                      <h4 class="card-title">바르셀로나</h4>
                      <p>Opportunity to keep a memorable Saipan trip</p>
                      <p class="card-text">⭐⭐⭐⭐⭐</p>
                      <a style="background-color: #FFED90;" href="#" class="btn">50,000</a>
                    </div>
                  </div>
                </div>
                <pre></pre><pre></pre>
                <div class="col-md-3">
                  <div style=" border-color: #FFED90;" class="card"> <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/111563/599605_medium_1640132015.jpg?1640132015" alt="Card image cap" style="">
                    <div class="card-body">
                      <h4 class="card-title">이스탄불</h4>
                      <p>Opportunity to keep a memorable Saipan trip</p>
                      <p class="card-text">⭐⭐⭐⭐⭐</p>
                      <a style="background-color: #FFED90;" href="#" class="btn">50,000</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div style=" border-color: #FFED90;" class="card"> <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/8462/48170_medium_1631166682.jpg?1631166682" alt="Card image cap" style="">
                    <div class="card-body">
                      <h4 class="card-title">로마</h4>
                      <p>Opportunity to keep a memorable Saipan trip</p>
                      <p class="card-text">⭐⭐⭐⭐⭐</p>
                      <a style="background-color: #FFED90;" href="#" class="btn">50,000</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div style=" border-color: #FFED90;" class="card"> <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/18239/109689_medium_1525748765.jpg?1525748765" alt="Card image cap" style="">
                    <div class="card-body">
                      <h4 class="card-title">몬트리올</h4>
                      <p>Opportunity to keep a memorable Saipan trip</p>
                      <p class="card-text">⭐⭐⭐⭐⭐</p>
                      <a style="background-color: #FFED90;" href="#" class="btn">50,000</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div style=" border-color: #FFED90;" class="card"> <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/16471/99465_medium_1525780853.jpg?1525780853" alt="Card image cap" style="">
                    <div class="card-body">
                      <h4 class="card-title">뉴욕</h4>
                      <p>Opportunity to keep a memorable Saipan trip</p>
                      <p class="card-text">⭐⭐⭐⭐⭐</p>
                      <a style="background-color: #FFED90;" href="#" class="btn">50,000</a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div style="background-color: #FFED90;" class="row">
          <div class="col-lg-8 p-md-5 p-3 d-flex flex-column justify-content-center">
            <h1>A thousand sliders</h1>
            <p class="mb-0">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
          </div>
          <div class="col-lg-4 p-3">
            <div id="carousel2" class="carousel slide" data-ride="carousel" data-interval="5000">
              <div class="carousel-inner">
                <div class="carousel-item"> <img class="d-block w-100" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/7511/296672_large_1544173662.jpg?1544173662"> </div>
                <div class="carousel-item active"> <img class="d-block w-100" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/7511/296672_large_1544173662.jpg?1544173662"> </div>
                <div class="carousel-item"> <img class="d-block w-100" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/7511/296672_large_1544173662.jpg?1544173662"> </div>
                <div class="carousel-item"> <img class="d-block w-100" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/7511/296672_large_1544173662.jpg?1544173662"> </div>
              </div>
              <a class="carousel-control-prev" href="#carousel2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span></a>
              <a class="carousel-control-next" href="#carousel2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div style=" border-color: #FFED90;" class="card">
              <div class="card-body">
                <h5 class="card-title">반드시 봐야할 명작</h5>
                <p class="card-text">예술가와 함께 하는 예술가들의 명작, 소수투어라서 더 편안하게 관람할 수 있었어요!</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
              <img class="card-img-bottom" src="https://dry7pvlp22cox.cloudfront.net/mrt-images-prod/2022/06/22/QbFd/OS6sBjxWcK.png?width=760&height=760&operation=crop" alt="Card image cap">
            </div>
          </div>
          <div class="col-md-6" style="">
            <iframe width="100%" height="788" src="https://maps.google.com/maps?q=New%20York&amp;z=14&amp;output=embed" scrolling="no" frameborder="0">
            </iframe></div>
        </div>
      </div>
    </div>
    <div class="py-5" style="background-image: linear-gradient(to left bottom, rgba(189, 195, 199, .75), rgba(44, 62, 80, .75)); background-size: 100%;">
      <div class="container">
        <div class="row">
          <div class="text-center mx-auto col-md-12">
            <h1 class="text-white mb-5">Testimonials</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 p-3">
            <div class="card">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col-md-4 col-3">
                    <img class="img-fluid d-block rounded-circle" src="https://cdn-icons-png.flaticon.com/512/2200/2200326.png"> </div>
                  <div class="d-flex  col-md-8 flex-column justify-content-center align-items-start col-9">
                    <p class="mb-0 lead"> <b>Fast Flight</b> </p>
                    <p class="mb-0">Fast and convenient travel service</p>
                  </div>
                </div>
                <p class="mt-3 mb-0">I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 p-3">
            <div class="card">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col-md-4 col-3">
                    <img class="img-fluid d-block rounded-circle" src="https://cdn-icons-png.flaticon.com/128/2200/2200309.png"> </div>
                  <div class="d-flex  col-md-8 flex-column justify-content-center align-items-start col-9">
                    <p class="mb-0 lead"> <b>G. W. John</b> </p>
                    <p class="mb-0">CEO &amp; founder</p>
                  </div>
                </div>
                <p class="mt-3 mb-0">I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 p-3">
            <div class="card">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col-md-4 col-3"> 
                    <img class="img-fluid d-block rounded-circle" src="https://cdn-icons-png.flaticon.com/128/2200/2200305.png"> </div>
                  <div class="d-flex  col-md-8 flex-column justify-content-center align-items-start col-9">
                    <p class="mb-0 lead"> <b>J. G. Wolf</b> </p>
                    <p class="mb-0">CFO</p>
                  </div>
                </div>
                <p class="mt-3 mb-0">Oh, would I could describe these conceptions, could impress upon paper all that is living so full and warm within me, that it might be the mirror of my soul, as my soul is the mirror of the infinite God!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-2">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
      </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12">
              <nav class="navbar">
                <div class="container-fluid">
                  <span style="color: #000;" class="fs-3 fw-bolder navbar-text"> 🍽 Travel With Food </span>
                  <!-- <h3 style="color: #000;" class="navbar-text"> 🍽 Travel With Food</h3> -->
                </div>
              </nav>
             
               <div class="row">
                <div class="col-md-3">
                  <div style=" border-color: #FFED90;" class="card">
                    <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/121775/683230_medium_1663733861.jpg?1663733861" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">몽키트래블 괌</h4>
                      <p class="card-text">사이판 켄싱턴 오하스 애프터눈</p>
                      <p class="card-text">⭐⭐⭐⭐⭐</p>
                      <a style="background-color: #FFED90;" href="#" class="btn">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div style=" border-color: #FFED90;"  class="card"> <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/121834/683757_medium_1663817437.jpg?1663817437" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">삿포로</h4>
                      <p class="card-text">스스키노 슌사이 와엔테</p>
                      <p class="card-text">⭐⭐⭐⭐⭐</p>
                      <a style="background-color: #FFED90;" href="#" class="btn">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div style=" border-color: #FFED90;"  class="card"> <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/122530/691952_medium_1665038911.jpg?1665038911" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">방콕</h4>
                      <p class="card-text">카펠라 방콕 호텔 티 라운지</p>
                      <p class="card-text">⭐⭐⭐⭐⭐</p>
                      <a style="background-color: #FFED90;" href="#" class="btn">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div style=" border-color: #FFED90;"  class="card"> <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/64603/694995_medium_1665625851.jpg?1665625851" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">타이베이</h4>
                      <p class="card-text">올 뷰티 커피 & 티 베이먼역</p>
                      <p class="card-text">⭐⭐⭐⭐⭐</p>
                      <a style="background-color: #FFED90;" href="#" class="btn">Go somewhere</a>
                    </div>
                  </div>
                </div>
              </div>
              <pre></pre>
              <div class="row">
                <div class="col-md-3">
                  <div style=" border-color: #FFED90;"  class="card"> <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/37980/236467_medium_1530692256.jpg?1530692256" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">홍콩</h4>
                      <p class="card-text">몽콕 희운 로스트 키친</p>
                      <p class="card-text">⭐⭐⭐⭐⭐</p>
                      <a style="background-color: #FFED90;" href="#" class="btn">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div style=" border-color: #FFED90;"  class="card"> <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/73460/451641_medium_1578554362.jpg?1578554362" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">세비야</h4>
                      <p class="card-text">하드락 카페 식사권</p>
                      <p class="card-text">⭐⭐⭐⭐⭐</p>
                      <a style="background-color: #FFED90;" href="#" class="btn">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div style=" border-color: #FFED90;" class="card"> <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/72675/446630_medium_1577381301.jpg?1577381301" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">호이안</h4>
                      <p class="card-text">현지 특별 밀 세트 이용권</p>
                      <p class="card-text">⭐⭐⭐⭐⭐</p>
                      <a style="background-color: #FFED90;" href="#" class="btn">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div style=" border-color: #FFED90;" class="card"> <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/71208/438220_medium_1575338008.jpg?1575338008" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">타이베이</h4>
                      <p class="card-text">마이스토브 송장난징역</p>
                      <p class="card-text">⭐⭐⭐⭐⭐</p>
                      <a style="background-color: #FFED90;" href="#" class="btn">Go somewhere</a>
                    </div>
                  </div>
                </div>
              </div>
              <pre></pre>
                <div class="row">
                  <div class="col-md-3">
                    <div style=" border-color: #FFED90;" class="card"> <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/120326/670864_medium_1661150798.jpg?1661150798" alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title">파타야</h4>
                        <p class="card-text">파타야 인터컨티넨탈 리조트</p>
                        <p class="card-text">⭐⭐⭐⭐⭐</p>
                        <a style="background-color: #FFED90;" href="#" class="btn">Go somewhere</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div style=" border-color: #FFED90;" class="card"> <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/98171/701977_medium_1666694454.jpg?1666694454" alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title">마닐라</h4>
                        <p class="card-text">마닐라 상싱한 해산물 씨푸드</p>
                        <p class="card-text">⭐⭐⭐⭐⭐</p>
                        <a style="background-color: #FFED90;" href="#" class="btn">Go somewhere</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div style=" border-color: #FFED90;" class="card"> <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/45597/280314_medium_1540463303.jpg?1540463303" alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title">싱가포르</h4>
                        <p class="card-text">싱갚로 점보 식당</p>
                        <p class="card-text">⭐⭐⭐⭐⭐</p>
                        <a style="background-color: #FFED90;" href="#" class="btn">Go somewhere</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div style=" border-color: #FFED90;" class="card"> <img class="card-img-top" src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/113468/613184_medium_1647218895.jpg?1647218895" alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title">방콕</h4>
                        <p class="card-text">째오쭐라 시암지점</p>
                        <p class="card-text">⭐⭐⭐⭐⭐</p>
                        <a style="background-color: #FFED90;" href="#" class="btn">Go somewhere</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- footer -->
<div class="py-3" >
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"> <i class="d-block fa fa-stop-circle mb-3 text-muted fa-3x"></i>
        <p>누런 풍선</p>
        <p> <a style="text-decoration: none;" href="tel:+246 - 542 550 5462">멀티캠퍼스</a> </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex align-items-center justify-content-center my-3">
        <a style="text-decoration: none;" href="#">
          <i class="d-block fa fa-facebook-official text-muted fa-lg mr-2"></i>
        </a> 
        <a style="text-decoration: none;" href="#">
          <i class="d-block fa fa-instagram text-muted fa-lg mx-2"></i>
        </a> 
        <a style="text-decoration: none;" href="#">
          <i class="d-block fa fa-twitter text-muted fa-lg ml-2"></i>
        </a> </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="mb-0">© 2022</p>
      </div>
    </div>
  </div>
</div>






  
      <!-- JavaScript Bundle with Popper -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>