<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
    />
    <title>Document</title>
  </head>

  <body>
    <!-- 왼쪽 nav -->
    <div
      class=""
      style="
        width: 200px;
        border-right: 1px solid #8b8b8b;
        position: fixed;
        height: 100%;
      "
    >
      <ul
        style="
          list-style: none;
          padding-left: 0;
          margin-top: 5rem;
          color: #5f5e5e;
        "
        class="fw-bold fs-4 text-center"
      >
        <li class="mb-5">공지사항</li>
        <li class="mb-5">FAQ</li>
        <li class="mb-5">Q & A</li>
      </ul>
    </div>

    <!-- Q&A -->
    <section style="padding: 60px 20px 20px 280px">
      <!-- 제목 -->
      <div>
        <h2 style="margin-left: 2rem" class="fw-bold">Q & A</h2>
        <hr class="my-3" style="width: 9rem; color: black" />
        <p class="fw-semibold">홈페이지 운영에 관해 궁금하신 것 물어보세요.</p>
      </div>
      <!-- 글쓰기 버튼 -->
      <div class="mt-4" style="width: 93%">
        <button
          class="btn fw-semibold float-end mb-3 px-3"
          style="background-color: #ffed90"
        >
          글쓰기
        </button>
        <!-- 테이블 -->
        <table class="table">
          <thead class="table-group-divider">
            <tr style="font-size: 1.17rem">
              <th
                style="padding: 0.7rem 0 0.7rem 2rem; width: 13rem"
                scope="col"
              >
                번호
              </th>
              <th style="padding: 0.7rem 0 0.7rem 2.3rem" scope="col">유형</th>
              <th style="padding: 0.7rem 0 0.7rem 5rem" scope="col">제목</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <td style="padding: 0.7rem 0 0.7rem 2.5rem" scope="row">1</td>
              <td style="padding: 0.7rem 0 0.7rem 1.5rem" scope="row">
                <span
                  class="rounded fw-semibold"
                  style="background-color: #ffed90; padding: 0.5rem 1rem"
                  >질문</span
                >
              </td>
              <td style="padding: 0.7rem 0 0.7rem 2.5rem">또 질문합니다~!!</td>
            </tr>
            <tr>
              <td style="padding: 0.7rem 0 0.7rem 2.5rem" scope="row">2</td>
              <td style="padding: 0.7rem 0 0.7rem 1.5rem" scope="row">
                <span
                  class="rounded fw-semibold"
                  style="background-color: #fcbfbf; padding: 0.5rem 1rem"
                  >답변</span
                >
              </td>
              <td style="padding: 0.7rem 0 0.7rem 2.5rem">
                자 이것을 한번 읽어 보시게나...
              </td>
            </tr>
            <tr>
              <td style="padding: 0.7rem 0 0.7rem 2.5rem" scope="row">3</td>
              <td style="padding: 0.7rem 0 0.7rem 1.5rem" scope="row">
                <span
                  class="rounded fw-semibold"
                  style="background-color: #ffed90; padding: 0.5rem 1rem"
                  >질문</span
                >
              </td>
              <td style="padding: 0.7rem 0 0.7rem 2.5rem" colspan="2">
                질문입니다!!!!
              </td>
            </tr>
            <tr>
              <td style="padding: 0.7rem 0 0.7rem 2.5rem" scope="row">4</td>
              <td style="padding: 0.7rem 0 0.7rem 1.5rem" scope="row">
                <span
                  class="rounded fw-semibold"
                  style="background-color: #fcbfbf; padding: 0.5rem 1rem"
                  >답변</span
                >
              </td>
              <td style="padding: 0.7rem 0 0.7rem 2.5rem" colspan="2">
                아니 이것도 몰랐다고??.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
